<template name="layout">
    {{> header}}

    {{> preloader}}

    {{> galery}}
    {{> contact}}
    {{> howitwork}}
    {{> success}}

    {{> yield}}

    {{> footer}}

    <script>
        Meteor.startup(function () {

            var initializer_zopim = function () {
                init_zopim();
            }

            function downloadJSAtOnload(callback) {
                var script = document.createElement("script");
                script.type = 'text/javascript';
                script.src = "http://pleisi.com.s3.amazonaws.com/js/website/zopim.js";
                document.body.appendChild(script);

                script.onreadystatechange = callback;
                script.onload = callback;
            }

            if (window.addEventListener)
                window.addEventListener("load", downloadJSAtOnload(initializer_zopim), false);
            else if (window.attachEvent)
                window.attachEvent("onload", downloadJSAtOnload(initializer_zopim));
            else
                window.onload = downloadJSAtOnload(initializer_zopim);

        });
    </script>
</template>