<head>
    <meta charset="utf-8">
    <title>Pleisi | Curso gratis: Cojín Acolchado</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="Curso gratis: Cojín Acolchado">
    <meta property="og:title" content="Pleisi - Curso gratis: Cojín Acolchado">
    <meta property="og:description" content="En este curso gratuito de Patchwork aprenderás a confeccionar un hermoso cojín con su forro, cierres y finalización, así como el acolchado. Te enseñaremos paso a paso todo lo que necesitas saber. ¡Te damos la bienvenida a Pleisi, la academia de las manualistas!">
    <meta property="og:image" content="http://cdn.pleisi.com/classes/prev_23.jpg">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://www.pleisi.com/classes/pic_grat">
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link href="http://fonts.googleapis.com/css?family=Raleway:200,300,400,500,700,800|Pacifico" rel="stylesheet" type="text/css" media="all">
    <link rel="stylesheet" href="http://pleisi.com.s3.amazonaws.com/css/theme.min.css" media="all">
    <link rel="stylesheet" href="http://pleisi.com.s3.amazonaws.com/css/pleisi.min.css" media="all">
    <link href="https://vjs.zencdn.net/4.12/video-js.css" rel="stylesheet">
    <link rel="shortcut icon" href="http://pleisi.com.s3.amazonaws.com/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://pleisi.com.s3.amazonaws.com/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://pleisi.com.s3.amazonaws.com/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://pleisi.com.s3.amazonaws.com/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="http://pleisi.com.s3.amazonaws.com/ico/apple-touch-icon-57-precomposed.png">
    <!--[if lt IE 9]>
    <script src="http://pleisi.com.s3.amazonaws.com/js/html5shiv.min.js"></script>
    <script src="http://pleisi.com.s3.amazonaws.com/js/respond.min.js"></script>
    <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="http://pleisi.com.s3.amazonaws.com/js/bootstrap.min.js"></script>
    <script async="" src="http://pleisi.com.s3.amazonaws.com/js/jquery.nicescroll.min.js"></script>
    <script src="//vjs.zencdn.net/4.12/video.js"></script>
    <script src="http://pleisi.com.s3.amazonaws.com/js/vjs.youtube.min.js"></script>
    <script src="http://pleisi.com.s3.amazonaws.com/js/jquery.stickOnScroll.js"></script>
</head>