<template name="formularioRegistro">
    <form method="post" id="signUpForm">
        <label class="sr-input-field">
            <span class="input-label">Nombre</span>
            <input type="text" name="name" autocomplete="name" required="" class="input-control" placeholder="Nombre completo" data-bind="customer.name"  data-addclass-error="customer.errors.name.length">
        </label>

        <!--<label class="sr-input-field">-->
        <!--<span class="input-label">Telefono</span>-->

        <!--<input type="phone" name="phone" autocomplete="tel" required="" class="input-control" placeholder="(123) 456-7890" pattern="\(\d{3}\) \d{3}-\d{4}" data-bind="masked_phone_input" data-source-disabled="submitting_form">-->
        <!--&lt;!&ndash;batman-insertif="show_invalid_mark"&ndash;&gt;-->
        <!--</label>-->

        <label class="sr-input-field">
            <span class="input-label">Email</span>
            <input type="email" name="email" autocomplete="email" required="" class="input-control" placeholder="example@email.com" data-bind="customer.email"  data-addclass-error="customer.errors.email.length">
        </label>

        <label class="sr-input-field" data-removeif="edit_mode">
            <span class="input-label">Contraseña</span>
            <input type="password" name="pswd" autocomplete="new-password" required="" class="input-control" placeholder="•••••••••••••" data-bind="customer.password"  data-addclass-error="customer.errors.password.length">
        </label>

        <button type="submit" class="btn  btn-first" id="submit">Registrarme</button>
    </form>
</template>