.price-resume {
    border-radius: 7px;
    margin-top: -75%;
    position: absolute;
    background: #f2f2f2;
    z-index: 15;
    width: 350px !important;
    padding: 35px !important;
}

.facebook-section{
    text-align: center;
    padding: 5px;
}

.btn-facebook{
    background-color: #3e5698 !important;
    padding: 7.5px !important;
    position: relative;
}

.btn-facebook, .btn-facebook .pleisi-icon-facebook-o{
    font-size: 16px !important;
}

.form-section{
    margin: 0 -15px;
    padding: 30px 0px 0;
    border-top: 1px solid #d9d9d9;
    box-shadow: inset 0 1px 0 white;
}

.form-section-tittle{
    font-size: 14px;
    text-align: center;
    margin: -5px 0 20px;
}

.or-break{
    width: 2em;
    height: 2em;
    /*background-color: white;*/
    color: #b3b3b3;
    line-height: 2;
    text-align: center;
    /*border: 1px solid #b3b3b3;*/
    border-radius: 50%;
    display: block;
    box-sizing: content-box;
    margin: 0 auto;
    position: relative;
    bottom: -1em;
}

.sr-input-field {
    height: 40px;
    background-color: white;
    display: block;
    border: 1px solid #b3b3b3;
    margin-bottom: 15px;
    padding: 10px;
    position: relative;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}

.sr-input-field .input-label {
    width: 8em;
    color: #333;
    font-weight: 400;
    text-transform: uppercase;
    border-right: 1px solid #d9d9d9;
    float: left;
}

.sr-input-field .input-control {
    width: calc(100% - 8em);
    height: 20px;
    color: #666666;
    line-height: 20px;
    font-weight: 400;
    border: 0;
    margin: 0;
    padding: 0 0 0 10px;
    outline: none;
}

.register-section{
    padding-bottom: 30px;
    border-bottom: 1px solid #d9d9d9;
    box-shadow: inset 0 1px 0 white;
}

.price-resume h2 {
    margin-top: 20px !important;
}

.btn-first{
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.btn-first:hover{
    background: #8eaa27;
}

.modal-content {
    background-color: white !important;
}

.message-success {
    color: #999 !important;
    font-size: 17px;
    font-weight: 900;
    padding: 35px;
}

