<template name="footer">
    <div class="footer">
        <div class="container">
            <div class="row bordered">
                <div class="scissors"></div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <h4>Más sobre pleisi</h4>
                        <p><a href="http://pleisi.com/about-us/">Quiénes somos</a></p>
                        <p><a href="#" id="contactUsModalButton">Contáctanos</a></p>
                        <p><a href="http://pleisi.com/terms-and-conditions/">Términos y condiciones</a></p>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6 text-center border-left cathegories">
                        <h4>Descubre</h4>
                        <div class="col-xs-6">
                            <p><a href="http://pleisi.com/classes/?cathegoryQ=3">Bordados</a>
                            </p>
                        </div>
                        <div class="col-xs-6">
                            <p><a href="http://pleisi.com/classes/?cathegoryQ=4">Costura</a>
                            </p>
                        </div>
                        <div class="col-xs-6">
                            <p><a href="http://pleisi.com/classes/?cathegoryQ=5">Pastelería</a>
                            </p>
                        </div>
                        <div class="col-xs-6">
                            <p><a href="http://pleisi.com/classes/?cathegoryQ=1">Pintura</a>
                            </p>
                        </div>
                        <div class="col-xs-6">
                            <p><a href="http://pleisi.com/classes/?cathegoryQ=2">Tejidos</a>
                            </p>
                        </div>
                        <div class="col-xs-6">
                            <p><a href="http://pleisi.com/classes/?cathegoryQ=6">Varios</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 text-center border-left ball social-pleisi">
                        <h4>Encuentranos en:</h4>
                        <a href="http://facebook.com/ideaspleisi" class="icon-button facebook"><i class="pleisi-icon-facebook-o"></i><span></span>

                            <p>facebook</p></a>
                        <a href="https://es.pinterest.com/pleisi" class="icon-button pinterest"><i class="pleisi-icon-pinterest-o"></i><span></span>

                            <p>pinterest</p></a>
                        <a href="https://www.youtube.com/pleisiideas" class="icon-button youtube"><i class="pleisi-icon-youtube"></i><span></span>

                            <p>youtube</p></a>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 hidden-xs border-left">
                    <div class="text-center pleisi-brand">
                        <img src="http://pleisi.com.s3.amazonaws.com/img/pleisi.png" alt="pleisi" width="80px" height="40px">
                        <p>Todos los derechos reservados 2015</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>