<template name="header">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header" >
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Menú</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="http://pleisi.com" class="navbar-brand">
                    <span><img src="http://pleisi.com.s3.amazonaws.com/img/pleisi.png" alt="pleisi"></span>
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li id="menu-classes"><a href="http://pleisi.com/classes/"><span class="glyphicon icon-primitive-dot"></span>
                        Clases</a></li>
                    <li><a href="http://blog.pleisi.com" id="irAlBlog"><span class="glyphicon icon-primitive-dot"></span> Blog</a></li>
                </ul>
            </div>
        </div>
    </div>
</template>