<template name="registro">
    <div class="register-section">
        <div class="facebook-section">
            <button type="button" class="btn btn-social-login btn-facebook"><i class="pleisi-icon-facebook-o"></i> Registrate con facebook</button>
        </div>
        <span class="or-break"> </span>
        <div class="form-section">
            <h4 class="form-section-tittle">Registrate con tu email</h4>
            <div>
                {{> formularioRegistro}}
            </div>
        </div>
    </div>
</template>