<template name="registroCompleto">
    <h2>Felicidades
        {{#if currentUser.services.facebook}}
            {{currentUser.services.facebook.name}}
        {{else}}
            {{currentUser.profile.name}}
        {{/if}} te has inscrito a un curso gratis en Pleisi.
    </h2>
    <br/>
    <br/>
    <p>2419 estudiantes se han inscrito y tu eres uno mas

    </p>

    <p class="text-center">
        <a href="" id="salir" class="btn btn-first">Salir</a>
    </p>
</template>