<template name="contact">
    <div class="modal fade" id="contactUsModal" tabindex="-1" role="dialog" aria-labelledby="contactUsModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">Cerrar <img src="http://pleisi.com.s3.amazonaws.com/img/modal/close.png" alt="×"></button>
                    <h4 class="modal-title" id="contactUsModalLabel">¡Contáctanos!</h4>
                </div>
                <div class="modal-body">
                    <form role="form" action="http://pleisi.com/contact-us/" method="POST" id="contactUsForm"><input type="hidden" name="csrfmiddlewaretoken" value="SpeqNk5tUdV3JYEKDxpTIEb7iY9nnapz">
                        <div class="container-fluid no-padding-left no-padding-right">
                            <div class="row">
                                <div class="col-md-6">
                                    <input class="hide" id="id_classReferred" name="classReferred" type="hidden">
                                    <div class="form-group">
                                        <label class="control-label">Nombre</label>
                                        <input class="form-control" id="id_name" maxlength="100" name="name" placeholder="Nombre" type="text">
                                        <p class="help-block"></p>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Ciudad</label>
                                        <input class="form-control" id="id_city" maxlength="100" name="city" placeholder="Ciudad" type="text">
                                        <p class="help-block"></p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Correo electrónico</label>
                                        <input class="form-control" id="id_mail" maxlength="75" name="mail" placeholder="Correo electrónico" type="text">
                                        <p class="help-block"></p>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Asunto</label>
                                        <input class="form-control" id="id_subject" maxlength="100" name="subject" placeholder="Asunto" type="text">
                                        <p class="help-block"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Mensaje</label>
                            <textarea class="form-control" cols="40" id="id_message" name="message" placeholder="Escribe aquí" rows="5"></textarea>
                            <p class="help-block"></p>
                        </div>
                        <div id="contactUsFormMessage"></div>
                        <p class="text-right">
                            <button type="submit" class="btn btn-first">Enviar</button>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>