<template name="galery">
    <div class="modal fade" id="galeryImgModal" tabindex="-1" role="dialog" aria-labelledby="galeryImgModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg no-title">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">Cerrar <img src="http://pleisi.com.s3.amazonaws.com/img/modal/close.png" alt="×"></button>
                    <h4 class="modal-title" id="galeryImgModalLabel"></h4>
                </div>
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>
</template>