<template name="howitwork">
    <div class="modal fade" id="howWorksPleisiModal" tabindex="-1" role="dialog" aria-labelledby="howWorksPleisiLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">Cerrar <img
                            src="{{ CDN }}img/modal/close.png" alt="&times;"/></button>
                    <h4 class="modal-title" id="howWorksPleisiLabel">Así funciona Pleisi.</h4>
                </div>
                <div class="modal-body">
                    <figure>
                        <iframe class="js-resize"
                                src="//player.vimeo.com/video/131602017?api=1&player_id=video&title=0&byline=0&portrait=0"
                                width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen
                                allowfullscreen id="video"></iframe>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</template>