<template name="success" xmlns="http://www.w3.org/1999/html">
    <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModal"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">Cerrar <img
                            src="http://pleisi.com.s3.amazonaws.com/img/modal/close.png" alt="&times;"/></button>
                    <h4 class="modal-title" id="successLabel">¡Tú registro es exitoso!</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid no-padding-left no-padding-right">
                        <div class="row">
                            <div class='message-success text-center'>
                                Tu registro ha sido totalmente exitoso, estamos validando información de tu cuenta y te estaremos informando para que comiences a disfrutar tu curso.
                                <br>
                                <br>
                                ¡Gracias por preferirnos!
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>