<template name="landingCojinAcolchado">
    <div class="class-detail">


        <img src="http://cdn.pleisi.com/cache/0d/d3/0dd3f1493039e0ed0ed380b65c68d155.jpg" alt="" class="img-header lazy">


        <div class="cover"></div>
        <div class="container">
            <div class="row divide-top-sm" id="text-header">
                <h2>Curso online de Costura</h2>
                <div class="caption">
                    <div class="data">
                        <p>Curso gratis: Cojín Acolchado</p>
                        <a href="#" id="verGalery" class="btn-action">VER FOTOS</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container full-width boxed-shadow"></div>
    <div class="container divide-top-sm no-padding-right no-padding-left">
        <div class="col-md-3 col-md-offset-1 col-xs-offset-0 pull-right" style="">
            <div class="price-resume" id="sticky-box">
                {{#if currentUser}}
                    {{> registroCompleto}}
                {{else}}
                    {{> registro}}
                {{/if}}
                <div class="galeria col-md-12 no-padding-left no-padding-right">
                    <h3>Galeria de imagenes</h3>
                    <ul class="row">

                        <li class="col-md-4 col-sm-4 col-xs-4">

                            <img data-src="http://cdn.pleisi.com/cache/56/8f/568f1b16b8c1c40e52be6ed928d4d1b9.jpg" alt="Slide1_pic_gra" class="lazy img-galery img-responsive" src="http://cdn.pleisi.com/cache/56/8f/568f1b16b8c1c40e52be6ed928d4d1b9.jpg">

                        </li>

                        <li class="col-md-4 col-sm-4 col-xs-4">

                            <img data-src="http://cdn.pleisi.com/cache/b3/6a/b36a2fbfa032e95876e153bb523b6205.jpg" alt="slide2_pic_grat" class="lazy img-galery img-responsive" src="http://cdn.pleisi.com/cache/b3/6a/b36a2fbfa032e95876e153bb523b6205.jpg">

                        </li>

                        <li class="col-md-4 col-sm-4 col-xs-4">

                            <img data-src="http://cdn.pleisi.com/cache/66/33/6633b7a0362b66f68a9098f429a4daee.jpg" alt="Slide3_pic_grat" class="lazy img-galery img-responsive" src="http://cdn.pleisi.com/cache/66/33/6633b7a0362b66f68a9098f429a4daee.jpg">

                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-8 pull-left">
            <div class="resume">
                <div class="row">
                    <div class="col-md-12">
                        <p>En este curso gratuito de Patchwork aprenderás a confeccionar un hermoso cojín con su forro, cierres y finalización, así como el acolchado. Te enseñaremos paso a paso todo lo que necesitas saber. ¡Te damos la bienvenida a Pleisi, la academia de las manualistas!
                        </p>
                    </div>
                </div>
            </div>
            <div class="preview">
                <div class="row">
                    <div class="col-md-12">
                        <video id="videopreview" class="video-js" controls preload="auto" width="100%" height="360" poster="http://cdn.pleisi.com/cache/e9/a5/e9a57277b34a5a1b043c4b22a47906ec.jpg">
                        </video>
                        <div class="after-video"></div>
                    </div>
                </div>
            </div>
            <div class="lecciones">
                <div class="row">
                    <div class="col-md-12" id="lessons">
                        <h3 class="title">Contenido del curso:</h3>

                        <div class="lesson">
                            <div class="lesson-title">Capítulo 1: Bienvenida</div>
                            <div class="lesson-body">
                                <p>¡Bienvenida a Pleisi! En este capítulo conocerás los materiales e implementos que necesitas para hacer un hermoso cojín en patchwork.
                                </p>
                                <ul>

                                    <li class="fui-check">

                                        <span>Bienvenida</span>
                                        <span class="right">0:12</span>

                                    </li>

                                    <li class="fui-check">

                                        <span>Materiales</span>
                                        <span class="right">0:44</span>

                                    </li>

                                </ul>
                            </div>
                        </div>

                        <div class="lesson">
                            <div class="lesson-title">Capítulo 2: Base</div>
                            <div class="lesson-body">
                                <p>En este capítulo aprenderás a confeccionar un cojín con diseño exclusivo para Pleisi; te enseñaremos a cortar las figuras y hacer los sandwiches.


                                </p>
                                <ul>

                                    <li class="fui-check">

                                        <span>Corte de cuadros. Primera parte</span>
                                        <span class="right">1:36</span>

                                    </li>

                                    <li class="fui-check">

                                        <span>Corte de cuadros. Segunda parte</span>
                                        <span class="right">1:46</span>

                                    </li>

                                    <li class="fui-check">

                                        <span>Planchar y emparejar</span>
                                        <span class="right">2:54</span>

                                    </li>

                                    <li class="fui-check">

                                        <span>Interlón adhesivo</span>
                                        <span class="right">3:24</span>

                                    </li>

                                    <li class="fui-check">

                                        <span>Coser al interlón</span>
                                        <span class="right">2:22</span>

                                    </li>

                                </ul>
                            </div>
                        </div>

                        <div class="lesson">
                            <div class="lesson-title">Capítulo 3: Acolchar</div>
                            <div class="lesson-body">
                                <p>En este capítulo aprenderás a acolchar el cojín, y hacer el forro y los cierres finales. El acolchado es muy importante, pues únicamente lo verás en este curso gratuito.</p>
                                <ul>

                                    <li class="fui-check">

                                        <span>Pegar a la guata</span>
                                        <span class="right">7:34</span>

                                    </li>

                                    <li class="fui-check">

                                        <span>Primera parte </span>
                                        <span class="right">6:19</span>

                                    </li>

                                    <li class="fui-check">

                                        <span>Continuación</span>
                                        <span class="right">2:36</span>

                                    </li>

                                    <li class="fui-check">

                                        <span>Bordes y forro</span>
                                        <span class="right">3:35</span>

                                    </li>

                                    <li class="fui-check">

                                        <span>Finalización</span>
                                        <span class="right">6:04</span>

                                    </li>

                                </ul>
                            </div>
                        </div>

                        <div class="lesson">
                            <div class="lesson-title">Capítulo 4: Bonus</div>
                            <div class="lesson-body">
                                <p>Un regalo adicional: aprenderás a hacer el acolchado con una figura nueva y diferente.
                                </p>
                                <ul>

                                    <li class="fui-check">

                                        <span>Bonus </span>
                                        <span class="right">4:51</span>

                                    </li>

                                    <li class="fui-check">

                                        <span>Despedida</span>
                                        <span class="right">0:24</span>

                                    </li>

                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="preview">
                <div class="descargas">
                    <div class="row" id="downloads">
                        <div class="col-md-12">
                            <h3>Patrones, guías o moldes:</h3>



                            <p><a class="needsLoginOrRegisterModalButton" href="#"><img data-src="http://pleisi.com.s3.amazonaws.com/img/files/pdf.png" src="http://pleisi.com.s3.amazonaws.com/img/files/pdf.png" alt="PDF" class="img-responsive lazy"></a>
                                <a class="needsLoginOrRegisterModalButton right" href="#">Moldes cojín</a></p>


                        </div>
                    </div>
                </div>
            </div>
            <div class="materiales">
                <div class="row divide-bottom-sm">
                    <div class="col-md-12" id="materials">
                        <h3 class="title">Materiales:</h3>

                        <div class="container-fluid no-padding-left no-padding-right">
                            <div class="row">

                                <div class="col-md-4">
                                    <ul>
                                        <li>Alfileres y agujas</li>
                                    </ul>
                                </div>


                                <div class="col-md-4">
                                    <ul>
                                        <li>Hilo matizado</li>
                                    </ul>
                                </div>

                            </div>
                            <div class="row">


                                <div class="col-md-4">
                                    <ul>
                                        <li>Máquina de coser</li>
                                    </ul>
                                </div>


                                <div class="col-md-4">
                                    <ul>
                                        <li>Plancha</li>
                                    </ul>
                                </div>

                            </div>
                            <div class="row">


                                <div class="col-md-4">
                                    <ul>
                                        <li>Regla básica</li>
                                    </ul>
                                </div>


                                <div class="col-md-4">
                                    <ul>
                                        <li>Tapete de corte </li>
                                    </ul>
                                </div>

                            </div>
                            <div class="row">


                                <div class="col-md-4">
                                    <ul>
                                        <li>Telas 100% algodón</li>
                                    </ul>
                                </div>


                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="preview">
                <div class="profesor">
                    <div class="row" id="teacher-info">
                        <div class="col-md-12 divide-bottom-sm">
                            <h3>Profesor:</h3>

                            <div class="container-fluid no-padding-left no-padding-right">
                                <div class="row">
                                    <div class="col-md-2 text-center about">


                                        <img data-src="http://cdn.pleisi.com/cache/3e/cc/3eccecd0d1c7538c30565041c78a7972.jpg" src="http://cdn.pleisi.com/cache/3e/cc/3eccecd0d1c7538c30565041c78a7972.jpg" alt="Diana" class="img-responsive lazy">


                                        <p>Diana López</p>
                                    </div>
                                    <div class="col-md-10">
                                        <p>Soy Diana Lopez y seré su profesora en estos cursos de Patchwork. Llevo varios años trabajando en la academia Piccolo, en donde hemos graduado a muchas alumnas. Bienvenidos a Pleisi, estoy muy contenta de compartir mis años de experiencia con ustedes. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="opiniones">
                <div class="row">
                    <div class="col-md-12" id="opinions">
                        <h3>Opiniones:</h3>
                        <h4>2419 estudiantes &nbsp;&nbsp;
                        </h4>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-12 col-xs-12 divide-top-sm">
            <div class="similars">
                <div class="row">
                    <h3>Otros cursos que tambien puedes disfrutar:</h3>
                    <a class="verTodos" href="http://www.pleisi.com/classes/?cathegoryQ=4">Ver todas las clases de Costura »</a>
                    <div class="clear"></div>

                    <div class="col-md-3 col-sm-6 col-xs-12 divide-bottom classes-detail">


                        <div class="item-class">

                            <div class="view">



                                <div class="triangle old"></div>
                                <div class="text-triangle old">
                                    <small>Ahora</small>
                                    <br><span class="price">$30.000</span>
                                </div>



                                <img data-src="http://cdn.pleisi.com/cache/0d/3c/0d3c2e26c411f5698f614d333dc08281.jpg" src="http://cdn.pleisi.com/cache/0d/3c/0d3c2e26c411f5698f614d333dc08281.jpg" alt="Osa Navideña" class="img-responsive lazy">

                                <div class="mask">
                                    <a href="http://pleisi.com/classes/osa-navidena"><p><span class="glyphicon fui-plus see-more"></span></p></a>
                                    <a href="http://pleisi.com/classes/osa-navidena" class="info">Ver más</a>
                                </div>
                            </div>

                            <div class="detail_">
                                <a href="http://pleisi.com/classes/osa-navidena">
                                    <p class="class-cathegory">Curso online de
                                        Costura:</p>

                                    <p class="border class-name">Osa Navideña</p>
                                </a>

                                <p class="price old border">$
                                    50.000 Pesos Colombianos</p>
                                <p class="rating">

                                    <span class="pleisi-icon-star no-star"></span>&nbsp;<span class="pleisi-icon-star no-star"></span>&nbsp;<span class="pleisi-icon-star no-star"></span>&nbsp;<span class="pleisi-icon-star no-star"></span>&nbsp;<span class="pleisi-icon-star no-star"></span>&nbsp;
                                </p>
                                <p class="students">
                                    186 estudiantes&nbsp;
                                    <span class="icon-graduation-cap student-icon"></span>
                                </p>

                                <p class="border"></p>

                                <div class="btns-class">

                                    <a class="btn-action" href="http://pleisi.com/classes/osa-navidena">
                                        VER MÁS
                                    </a>

                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12 divide-bottom classes-detail">


                        <div class="item-class">

                            <div class="view">



                                <div class="triangle old"></div>
                                <div class="text-triangle old">
                                    <small>Ahora</small>
                                    <br><span class="price">$30.000</span>
                                </div>



                                <img data-src="http://cdn.pleisi.com/cache/3e/01/3e01e98ecfd1a0ddb961e3fb7d5f0f1d.jpg" src="http://cdn.pleisi.com/cache/3e/01/3e01e98ecfd1a0ddb961e3fb7d5f0f1d.jpg" alt="Comelápices" class="img-responsive lazy">

                                <div class="mask">
                                    <a href="http://pleisi.com/classes/comela"><p><span class="glyphicon fui-plus see-more"></span></p></a>
                                    <a href="http://pleisi.com/classes/comela" class="info">Ver más</a>
                                </div>
                            </div>

                            <div class="detail_">
                                <a href="http://pleisi.com/classes/comela">
                                    <p class="class-cathegory">Curso online de
                                        Costura:</p>

                                    <p class="border class-name">Comelápices</p>
                                </a>

                                <p class="price old border">$
                                    50.000 Pesos Colombianos</p>
                                <p class="rating">

                                    <span class="pleisi-icon-star no-star"></span>&nbsp;<span class="pleisi-icon-star no-star"></span>&nbsp;<span class="pleisi-icon-star no-star"></span>&nbsp;<span class="pleisi-icon-star no-star"></span>&nbsp;<span class="pleisi-icon-star no-star"></span>&nbsp;
                                </p>
                                <p class="students">
                                    132 estudiantes&nbsp;
                                    <span class="icon-graduation-cap student-icon"></span>
                                </p>

                                <p class="border"></p>

                                <div class="btns-class">

                                    <a class="btn-action" href="http://pleisi.com/classes/comela">
                                        VER MÁS
                                    </a>

                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12 divide-bottom classes-detail">


                        <div class="item-class">

                            <div class="view">



                                <div class="triangle old"></div>
                                <div class="text-triangle old">
                                    <small>Ahora</small>
                                    <br><span class="price">$30.000</span>
                                </div>



                                <img data-src="http://cdn.pleisi.com/cache/02/ee/02eeba15487e7aa8993a485d91881568.jpg" src="http://cdn.pleisi.com/cache/02/ee/02eeba15487e7aa8993a485d91881568.jpg" alt="Papá Noel" class="img-responsive lazy">

                                <div class="mask">
                                    <a href="http://pleisi.com/classes/papa-noel"><p><span class="glyphicon fui-plus see-more"></span></p></a>
                                    <a href="http://pleisi.com/classes/papa-noel" class="info">Ver más</a>
                                </div>
                            </div>

                            <div class="detail_">
                                <a href="http://pleisi.com/classes/papa-noel">
                                    <p class="class-cathegory">Curso online de
                                        Costura:</p>

                                    <p class="border class-name">Papá Noel</p>
                                </a>

                                <p class="price old border">$
                                    50.000 Pesos Colombianos</p>
                                <p class="rating">

                                    <span class="pleisi-icon-star no-star"></span>&nbsp;<span class="pleisi-icon-star no-star"></span>&nbsp;<span class="pleisi-icon-star no-star"></span>&nbsp;<span class="pleisi-icon-star no-star"></span>&nbsp;<span class="pleisi-icon-star no-star"></span>&nbsp;
                                </p>
                                <p class="students">
                                    155 estudiantes&nbsp;
                                    <span class="icon-graduation-cap student-icon"></span>
                                </p>

                                <p class="border"></p>

                                <div class="btns-class">

                                    <a class="btn-action" href="http://pleisi.com/classes/papa-noel">
                                        VER MÁS
                                    </a>

                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12 divide-bottom classes-detail">


                        <div class="item-class">

                            <div class="view">



                                <div class="triangle old"></div>
                                <div class="text-triangle old">
                                    <small>Ahora</small>
                                    <br><span class="price">$30.000</span>
                                </div>



                                <img data-src="http://cdn.pleisi.com/cache/66/17/66172e1f799b384ac91482f4f38c1b45.jpg" src="http://cdn.pleisi.com/cache/66/17/66172e1f799b384ac91482f4f38c1b45.jpg" alt="Cafetera Papá Noel" class="img-responsive lazy">

                                <div class="mask">
                                    <a href="http://pleisi.com/classes/cafetera-papa-noel"><p><span class="glyphicon fui-plus see-more"></span></p></a>
                                    <a href="http://pleisi.com/classes/cafetera-papa-noel" class="info">Ver más</a>
                                </div>
                            </div>

                            <div class="detail_">
                                <a href="http://pleisi.com/classes/cafetera-papa-noel">
                                    <p class="class-cathegory">Curso online de
                                        Costura:</p>

                                    <p class="border class-name">Cafetera Papá Noel</p>
                                </a>

                                <p class="price old border">$
                                    50.000 Pesos Colombianos</p>
                                <p class="rating">
                                    <span class="pleisi-icon-star star"></span>&nbsp;<span class="pleisi-icon-star star"></span>&nbsp;<span class="pleisi-icon-star star"></span>&nbsp;<span class="pleisi-icon-star star"></span>&nbsp;<span class="pleisi-icon-star star"></span>&nbsp;

                                </p>
                                <p class="students">
                                    310 estudiantes&nbsp;
                                    <span class="icon-graduation-cap student-icon"></span>
                                </p>

                                <p class="border"></p>

                                <div class="btns-class">

                                    <a class="btn-action" href="http://pleisi.com/classes/cafetera-papa-noel">
                                        VER MÁS
                                    </a>

                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</template>




